.header {
  &__content-wrapper {
    padding: 60px 160px;
  }

  &__logo {
    display: block;
    margin: 0 0 60px 6px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.36;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 103px;
      width: 99px;
      height: 20px;
      background-color: #25e197;
      border-radius: 4px;
    }

    &::after {
      content: 'мы открылись';
      position: absolute;
      top: 5px;
      left: 111px;
      width: 99px;
      height: 20px;
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      color: #000;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 112px;
    line-height: 1;
    margin: 0 0 20px 0;
    max-width: 1030px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 80px;
    line-height: 0.87;
    margin: 0 0 230px 0;
    max-width: 1030px;
  }

  &__image-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
  }

  &__img {
    border-radius: 10px;
    box-sizing: border-box;

    &:nth-child(1) {
      max-width: 448px;
      min-width: 448px;
      width: 100%;
      grid-column: 1/2;
    }

    &:nth-child(2) {
      background-color: #ffd233;
      max-width: 912px;
      width: 100%;
      grid-column: 2/5;
    }

    &:nth-child(3) {
      background-color: #25e197;
      max-width: 630px;
      width: 100%;
      grid-column: 1/3;
    }

    &:nth-child(4) {
      max-width: 730px;
      max-height: 552px;
      min-width: 455px;
      width: 100%;
      grid-column: 3/5;
    }
  }

  @media screen and (max-width: 1024px) {
    &__content-wrapper {
      padding: 60px 60px 32px;
    }

    &__logo {
      margin: 0 0 70px 0;
    }

    &__title {
      font-size: 70px;
      line-height: 1.29;
      max-width: 644px;
    }

    &__subtitle {
      font-size: 50px;
      line-height: 1.2;
      max-width: 644px;
    }

    &__image-container {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 690px;
      margin: 0 auto;
    }

    &__img {
      &:nth-child(1) {
        grid-column: 1/3;
      }

      &:nth-child(2) {
        min-width: 180px;
        grid-column: 3/4;
      }

      &:nth-child(3) {
        min-width: 173px;
        grid-column: 1/2;
      }

      &:nth-child(4) {
        max-width: 455px;
        max-height: 344px;
        grid-column: 2/4;
      }
    }
  }

  @media screen and (max-width: 767px) {
    &__image-container {
      display: flex;
      flex-direction: column;
      max-width: 533px;
      margin: 0 auto;
    }

    &__img {
      &:nth-child(1) {
        min-width: 280px;
        width: 100%;
        // grid-column: 1/1;
      }

      &:nth-child(2) {
        min-width: 280px;
        max-height: 67px;
        padding-top: 7.5%;
        padding-bottom: 7.5%;
        // grid-column: 1/1;
      }

      &:nth-child(3) {
        min-width: 280px;
        max-height: 124px;
        padding-top: 14.9%;
        padding-bottom: 14.9%;
        // grid-column: 1/1;
      }

      &:nth-child(4) {
        min-width: 280px;
        width: 100%;

        // grid-column: 1/1;
      }
    }
  }

  @media screen and (max-width: 533px) {
    &__content-wrapper {
      padding: 24px 20px 20px;
    }

    &__logo {
      font-size: 20px;
      line-height: 1.4;
      margin: 0 0 60px 0;

      &::before {
        left: 99px;
      }

      &::after {
        left: 107px;
      }
    }

    &__title {
      font-size: 50px;
      line-height: 1.2;
      max-width: 320px;
    }

    &__subtitle {
      font-size: 30px;
      line-height: 1.27;
      max-width: 320px;
    }
  }
}
