.logo {
  display: block;
  margin: 0 0 60px 6px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.36;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 103px;
    width: 99px;
    height: 20px;
    background-color: #25e197;
    border-radius: 4px;
  }

  &::after {
    content: 'мы открылись';
    position: absolute;
    top: 5px;
    left: 111px;
    width: 99px;
    height: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: #000;
  }

  @media screen and (max-width: 1024px) {
    & {
      margin: 0 0 70px 0;
    }
  }

  @media screen and (max-width: 533px) {
    & {
      font-size: 20px;
      line-height: 1.4;
      margin: 0 0 60px 0;

      &::before {
        left: 99px;
      }

      &::after {
        left: 107px;
      }
    }
  }

  &_place_footer {
    grid-area: logo;
    margin: 0 0 84px 0;

    @media screen and (max-width: 533px) {
      & {
        margin: 0 0 184px 0;
      }
    }
  }
}
